AIX30011

**_Handong Honor Code_**

- You are responsible for understanding and complying with Handong Honor Code.
- If you copy someone else's coding or homework assignments or use someone else's creative work without any indication, you will get an F grade. Anyone who shares the code with you will also get an F grade.

**_Copyright Notice_**

You may not make copies of this and use or distribute it for any purpose.

Jaeyoung Chun | School of Applied Artificial Intelligence | Handong Global University

In [4]:
import os
import pandas as pd

In [33]:
print(os.uname().nodename)

ab94bc42eff3

In [35]:
# 문제와 같이 제공된 booking-100.csv 파일을 읽은 후, df 변수에 저장합니다.
df = pd.read_csv('booking-100.csv', sep='\t')

#df 에 저장된 데이터를 화면에 출력합니다.
print("데이터 화면에 출력")
print(df)

# 편리하게 하기 위해서 seat 컬럼에서 숫자 부분만 추출하여 새 컬럼 row_number를 만든다. 
# 숫자와 문자가 함께 있는 문자열인데 숫자만 뽑아내어 행 번호로 사용하는게 더 편하다고 판단함.
df['row_number'] = df['seat'].str.extract(r'(\d+)', expand=False).astype(int)

# 비행기표를 $460 이상 주고 구매했고 좌석 열이 6인 모든 경우를 찾고, 
# 구매가격을 내림차순 으로 정렬한 후, df2 변수에 저장합니다
df2 = df[(df['price'] >= 460) & (df['row_number'] == 6)].sort_values(by='price', ascending=False)

# df2 에 저장된 데이터를 화면에 출력합니다.
print('df2에 저장된 데이터 화면에 출력하기')
print(df2)

# df2 에 저장된 데이터를 460.csv 파일로 저장하는데, 
# index (aka. row names)는 제외 하고 저장해서 제출합니다.
df2.to_csv('460.csv', index=False)
print("460.csv 파일로 저장하기")

데이터 화면에 출력
    flight_no seat  passenger_id   price
0        3863   1A          2947  110.10
1        3863  25F         20814  173.10
2        3863  25E         33340  323.15
3        3863  24D         21401  445.85
4        3863  24G         24581  198.32
..        ...  ...           ...     ...
95      12143  20A           194  312.79
96      12143  20G         32025  261.11
97      12143  20E          4950  434.43
98      12143  19D           515  152.15
99      12143  19C         20984  286.62

[100 rows x 4 columns]
df2에 저장된 데이터 화면에 출력하기
    flight_no seat  passenger_id   price  row_number
61       3863   6E           155  466.79           6
60       3863   6F         13481  462.32           6
460.csv 파일로 저장하기